body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}
.main-div{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-image: url('images/zjgs096khv591.jpg');
    filter: opacity(0.35);
    display: flex;

}
.header{
    /* background-color: #fff; */
    width: 100vw;
    height: 80px;
    /* filter: opacity(0.5) ; */
    display: flex;
    justify-content: center;
}
.under-header{
    width: 80vw;
    height: 80px;
    /* background-color:blue; */
}
.netflix-text-img{
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: -37px;
    margin-left: 10px;
    width: 150px;
    height: 155px;
    filter: opacity(0.7);
    filter: brightness(0) saturate(100%) invert(12%) sepia(92%) saturate(7500%) hue-rotate(360deg) brightness(91%) contrast(105%);
}
